<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Name Brands</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <p id="top">The Name Brands</p>
    <p id="new">NEW RELEASE OUT NOW:</p>
    <p id="song">"LIKE ME"</p>
    <a class = "logoLink" href="https://open.spotify.com/album/4xvUQExnL5McMQtX3zLJx1?si=4FUdT-sXTWW6aHNHgtOiDg" target = "_blank">
        <img id = "logo" src = "/static/namebrands.png" width = 250px height = 250px alt="logo">
    </a> 
    <div class = "socialsDiv">
        <p id="socialP">Socials</p>
        <p id="follow">Follow my socials for future music!</p>
        <div class="spotDiv">
            <a id="spotText" href="https://open.spotify.com/artist/0YOXeKgltOr9iUk8XAvNnG?si=8VcJKmpwQGuW5YQPoVRojw" target="_blank">Spotify</a>
            <a class="spotLink" href="https://open.spotify.com/artist/0YOXeKgltOr9iUk8XAvNnG?si=8VcJKmpwQGuW5YQPoVRojw" target = "_blank">
             <img id="spot" src="/static/reed.png" width = 120px height = 120px alt="logo">
            </a>
        </div>
        <p id="stream">(stream my music)</p>
        <div class="instaDiv">
            <a id="instaText" href = "https://www.instagram.com/the.namebrands/" target="_blank">Instagram</a>
            <a class ="instaclass" href="https://www.instagram.com/the.namebrands/" target = "_blank">
             <img id="insta" src="/static/instagram.png" width = 120px height = 120px alt = "logo">
            </a>
            <p id="watch">(watch the process)</p>
        </div>
    </div>
    <div class="descDiv">
        <p id="descP">Description</p>
        <p id="paragraphP">This is going to be a very long paragraph about how cool and epic the solo project named "The Name Brands" really is. However, Reed has not seen my message yet, and I don't know jack shit about this thing so I'm gonna let him do the description.</p>
        <img id="reeddc" src="/static/reeddc.png" width=200px height = 200px alt = "logo">
        <p id="reedP">-Reed</p>
    </div>
        <img id ="banner" src="/static/banner.png" width = 500px height = 130px alt = "logo">

    <p id="TNBcontact">The Name Brands contact info: reeddancycabeal@gmail.com</p>
    <p id="ziggycontact">Website created by Ziggy Ingalls. Text 615-612-8079 for prices.</p>
    <script src = "/static/index.js"></script>
</body>

</html>